.gdbar img {
  width: 424px !important;
  height: 82px !important;
  background-size: 424px 82px;
  margin 20px 20px;
}

.gdbar {
  width: 600px !important;
  height: 105px !important;
}


slides > slide:not(.nobackground):before {
  width: 162px;
  height: 45px;
  background-size: 164px 45px;
}